<h1> All Teams for <%= @competition.name %></h1>

<h2>Teams: </h2>
<% @teams.average_age_of_players.each do |team| %>
  Team: <%= team.nickname %>
  Players Average Ages:<%= team.average %>
<% end %>
